/* --------------------- CSS Reset ----------------- */

/* null margins and padding to give good cross-browser baseline */
html,body,address,blockquote,div, form,fieldset,caption, hr, table,tr,td,th,p,img {
margin:0;
padding:0;
}

img,fieldset {
border:none;
}

* {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

p, li {
	margin-bottom: 1.25em;
}


/* ----------------- HTML 5 Outline ----------------- */

.outline {
	display: none;
}


/* ----------------------- Headings ----------------- */

h2 {
	font-family: serif;
	text-align: center;
	font-size: 2.75em; /* 44 px */
	font-weight: normal;
	
}
.h2, .about h2 {
	
	margin-top: 0;
	padding: 0 3.08% 0 3.08%; 
	position: relative;
	
}

.work h2, .contact h2 {
	padding-bottom: .25em; /* 11px */
	margin-bottom: 2px; /* 55px */
	margin-top: 20px; /* 32px */
}

.do .line {
	margin-top: 4em; 
}

.about {
	margin-top: .7272em; 
	height: 4.1875em; 
}
.line{
	margin-top: .7272em; 
	height: 4.1875em; 
}

/* ----------------- Links ----------------- */

nav a, .sample a:link, .sample a:visited {
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

nav a {
	color: #fff;
}

.anchor-link {
	display: none;
}


a:link[href="#home"], a:visited[href="#home"] {
	color:#fff;
	font-size: 1em; /* 16px */
	display: inline-block;
	margin-top: 1.5625em; /* 25px */
}

.work a:link, .work a:visited {
	color: #000;
}

.inner a {
	text-decoration: none;
}

.social a {
	margin:0 .625em 0 .625em; /* 10px */
}


/* ----------------- Other Styles ----------------- */

.clear {
	clear: both;
}

body {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 20px;
	line-height: 1.25;
	min-width: 303px;
}

header, .do, .about, .contact {
	color: #fff;
}

.block {
	padding-left: 8.33%; /* 100px or 5em */
	padding-right: 8.33%; /* 100px or 5em */
}

nav {
	padding: .7em 0 .7em 0;
	text-align: center;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display:inline-block;
	margin-right: 2.5em; /* 50px */
	font-size: .9em; /* 18px */
	margin-bottom: 0;
}

nav, .contact {
	background-color: black;
}

header {
	background-color: #16192b;
	text-align: center;
	position: relative; 
	z-index:2;
	padding-top: 1px;
}

.headline {
	font-family: 'Vidaloka', serif;
	font-size: 3.9em; /* 78px */
	margin-top: .961em; /* 75px */
	margin-bottom: .320em;
}

.do, .work, .about, .contact { 
	padding-top: .05em; /* 1 px */
	padding-bottom: 2.3em; /* 46px */
}


.do {
	background-color: #4AB1EB;
}


.do ul {
	list-style: none;
	margin: -5.70em 0 0 0; /* -91px */
	padding: 3.45em 0 2.5em 5em; /* 69px 0 50px 100px */
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.do ul li {
	padding-left: 1em; 
	padding-right: 5em;
	text-indent: -1em; 
}

.do ul li:before {
	content: '> \0000a0'; 

}

.work {
	background-color: #e1e1e1;
}

.inner {
	text-align: justify;
}

.inner:after{
    content: '';
    display: inline-block;
    width: 100%;
}
.sample {
	display:inline-block; 
	vertical-align: top;
	text-align: left;
	width: 300px; 
	background-color: #fff;
	margin-bottom: 2.5em; /* 50px */
}

.sample p, .sample h3 {
	margin-left: 1.25em; /* 25px */
	margin-right: 1.25em; /* 25px */
}

.about {
	background: #4AB1EB;
	height: 500px;
	margin-top: -2px;
}

.social {
	text-align:center;
	margin-top: 2.5em; /* 50 px */
}
.locations{ 
	text-align: center;
}


/* ----------------- Mobile Styles ----------------- */


@media only screen and (min-width: 801px) and (max-width: 1137px) { 

	.sample {
		width: 100%;
		height: 225px;
	}

	.sample p, .sample h3 {
		margin-left: 325px;
	}

	.sample img {
		float: left;
	}

	.inner:after {
    content: none;
	}
}

@media only screen and (max-width: 800px) {

	.inner {
		text-align: center;
	}

	.line, .do ul {
		border: none;
	}

	.do h2, .about h2 {
		border-bottom: 1px solid #fff;
		display: block;
		text-align: center;
		padding-bottom: .25em; /* 11px */
		margin-bottom: 1.25em; /* 55px */
	}

	.do ul {
		margin-left: 0;
		padding-bottom: 0;
		padding-left: 0;
	}

	.do ul li {
		padding-right: 0;
	}

}

@media only screen and (max-width: 975px) {

	.line-break {
	display: block;
	}

	.block {
	padding-left: 2.5em; /* 50px */
	padding-right: 2.5em; /* 50px */
	}

	.about {
		background-position: right 2.5em bottom;	
	}

}


@media only screen and (max-width: 761px) { 

	.simple-toggle {
		display: none;
	}

	.anchor-link {
		display: block;
		padding: .5em 0;
	}

	ul.open, .open li {
		display: block;
	}

	.open li {
		padding: .5em;
		margin-right: 0;
	}

	.open li a {
		text-decoration: none;
	}

	.open li:hover {
		background-color: #43746b;
	}
	
	nav.block {
		padding: 0;
	}
	

	h2 {
		font-size: 2em;
	}
}



@media only screen and (max-width: 589px) { 

	.headline {
		margin-top: 25px; /* 25px */
	}

}

@media only screen and (max-width: 507px) { 

	.headline {
		font-size: 2.5em; /* 50px */
	}

	.subhead {
		font-size: 1.1em; /* 22px */
	}

	h2 {
		font-size: 1.7em;
	}

}

@media only screen and (max-width: 477px) { 

	.block {
	padding-left: 10%; /* 25px or 1.25em */
	padding-right: 10%; /* 25px or 1.25em */
	}

	.sample img {
		width: 250px;
		height:auto;
	}

	.sample {
		width: 250px;
	}
}